.section-proyects{
    background:#ffF;
    width:100%;
    height:10%;
    padding:4rem 0rem
}

.container{
   max-width: 390%;
   padding: 20px;
   display: grid;
   grid-auto-flow: column;
   column-gap: 1rem;
   overflow-x: auto;
}


.container::-webkit-scrollbar{
    display: none;
}
.container .card{
    max-width: 300px;
    height: 420px;
    height: 215px;
    background-color: #fff;
    border-color: #ff8000;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    box-shadow: 0 10px 29px 0 rgba(144, 111, 68, 0.1);
    transition:  0.3s ease-in-out;
    

}

.container.card:hover{
    height: 420px;
}

.container .card .imgBx{
    position:relative;
    background: #fff;
    top:-60px;
    left: 10px;
    min-width: initial;
    width: 260px;
    height:360px;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 5px 20px  rgba(0,0,0, 0.2);

}
.container .card .imgBx img{
    max-width: 36%;
    border-radius: 8px;
    display: block;
    margin: 0px auto;
    
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 18px 15px;
    text-align: center;
    color :#111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0s;
}

.container .card:hover  .content{
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    transition-delay: 0.3s;
}
@media (max-width:990px){
    .container{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    }

}
@media (max-width:480px){
    .container{
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
        -webkit-column-width:100%;
        -moz-column-width:100%;
        column-width: 100%;
       
    }

}
h1{
    text-align: center;
font-size: 2.5rem;
color:#4e4039;
margin-bottom:64px;
}
.h1-cards{
    text-align: center;
font-size: 1rem;
color:#4e4039;
margin-bottom:64px;
}