.section-starts{
    height:27vh;
    max-height:900px;
    position:relative;
    overflow:hidden;
}

.contenido-starts{
    display: inline-flex;
    width: 20%;
    border-radius: 5px;
}

.contenido-starts img{
    width: 139px;
    filter:drop-shadow(0px 0px 1px #4b4b50);
    animation: flutuar 3s linear infinite;
}
@keyframes flutuar {
    0%,
    100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-23px);
    }
}
.contenido-starts img:nth-child(2){
    animation-delay: 2s;
}
.contenido-starts img:nth-child(3){
    animation-delay: 4s;
}
.contenido-starts img:nth-child(4){
    animation-delay: 6s;
}
.contenido-starts img:nth-child(5){
    animation-delay: 8s;
}
.contenido-starts img:nth-child(6){
    animation-delay: 10s;
}
.contenido-starts img:nth-child(7){
    animation-delay: 12s;
}
.contenido-starts img:nth-child(8){
    animation-delay: 14s;
}
h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #0a0a0a;
    margin-bottom: 64px;
}
.column{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.6;
    padding: 1rem 0.2rem;
  
    color:#fff;
}

   