
.Contenedor{
   
    background:#ff8000;
    width:100%;
    height:100%;
    padding:2rem 15rem;
    border-color: #fff;

}
body {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
    
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}

body::before{
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 55vh;
    background-color:#ff8000;
}

.header{
    position: relative;
    width: 0%;
    height: 0%;
    background: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(180deg);
    animation: rotateX 1s 1s forwards 1, scale 2s 2.2s forwards 1;

}

.header::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 3px;
    height: 100%;
    background-color:#fff;
    animation: slide-in 1s forwards 1;
}

.header::after {
    content: '';
    position: absolute;
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background-color:#fff;
    animation: slide-in 1s forwards 1;
}

@keyframes slide-in {
    99% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 0;
    }

}

@keyframes rotateX{
    0% {
        transform: rotateX(180deg);
        height: 100vh;
        background-color:#ff8000;
    
    }

    100% {
        transform: rotateX(0deg);
        height: 95%;
        background-color: #fbfbfb;
    
    }

}
@keyframes scale{
    100% {
      width: 92%;
      border-radius: 10px;
      padding: 0 60px;
      box-shadow: 0 40px  50px rgba(0,0,0,0.25);
    }

}

.col{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in 1s fowards 1;
    animation-delay: 4s;
}
@keyframes fade-in{
    100%{
        opacity: 1;

    }
}

.sgv{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.heading{
    font-family: 'dosis';
    text-transform: capitalize;
    color: #ff8000;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
}
.heading span{
    display: block;
    color:#212121;
    font-size: 120px;
    font-weight: 900;
    line-height: 120px;
}
.info{
    margin: 40px 0;
    font-family: 'roboto',sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 30px;
}

