.Contenedor {
    background: #fff;
    border: 3px solid #111;
    padding: 10px;
    width: 98%;
    height: 20%;
    left: 0;
    justify-content: center;
    display: block;


}

.Contenedor::after {
    background: #fff;
    content: '';
    mix-blend-mode: difference;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
  height: 16%;
    width: 98%;
    
    animation: grow 10s linear infinite;
  
}

@keyframes grow {
    to {
        transform: scaleX(1);
    }
}

h1 {
    margin: 0;
    letter-spacing: 5px;
    text-align:center;
  
    text-transform: uppercase;
    font-size:larger;
}


ul {
   
    display: flex;
    list-style:none;
    text-align: right;
    
}

li {
    color: #000;

    text-align: right;
    text-decoration: none;
   padding: 0rem 9rem;
    height: 100%;
    cursor: pointer;

}